@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:ital,wght@1,300&display=swap');


p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    color: rgb(120,120,120);
    transition: .3s all ease;
}

.clip:hover {
    font-size: 16px;
    color: rgb(22,22,22);
}