@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:ital,wght@1,300&display=swap');

.address_table{
  font-size: 1em;
  background: rgb(240,240,240);
  color: #37474f;
  margin-top: 20px;
  padding: 0px 15px 0px 15px;
  position: static;
  margin-left:auto;
  margin-right:auto;
}

.address_table th{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 12px 15px 12px 0px;
  color: rgb(135,135,135);
  border-bottom: 1px solid lightgray;
}

#address_td{
  text-align: left;
  color: rgb(125,125,125);
  padding-right: 50px;
}

#zip{
  padding-right: 10px;
}

#zip:hover{
  color: rgb(165,165,255);
  padding-right: 10px;
}

#num{
  color: rgb(125,125,255);
  padding-right: 10px;
}

#num:hover{
  color: rgb(165,165,255);
  padding-right: 10px;
}