{% load sass_tags %}

<link href="{% sass_src 'css/css_table.scss' %}" rel="stylesheet" type="text/css" />

<table class="custom-table">
  <colgroup>
    <col style="width:55%">
    <col style="width:15%">
    <col style="width:30%">
  </colgroup>

  <thead>
    <tr>
      <th scope="col">ADDRESS</th>
      <th scope="col">POST-NUM</th>
      <th scope="col">BUILDING-NUM</th>
    </tr>
  </thead>
  <tbody>
    {% for ad in address %}
      <tr>
        <td>
          <p style="text-align: right; padding-right: 20px;">{{ ad.old }}</p>
          <p style="text-align: right; padding-right: 20px;">{{ ad.address }}</p>
        </td>
        <td><p class="clip" data-clipboard-text='{{ ad.zip }}'>{{ ad.zip }}</p></td>
        <td><p class="clip" data-clipboard-text='{{ ad.num }}'>{{ ad.num }}</p></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
