<!DOCTYPE html>
<html>
{% load sass_tags %}
    <head>
        <meta charset="UTF-8">
        <title>Princess Secretary</title>
        <link rel="stylesheet" href="/static/css/css_main.css">
        <link href="{% sass_src 'css/wave.scss' %}" rel="stylesheet" type="text/css" />
        <link href="{% sass_src 'css/css_input.scss' %}" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    </head>

    <body>
        <div class='box'>
            <div class='wave -one'></div>
            <div class='wave -two'></div>
            <div class='wave -three'></div>
            <div class='title'>Secretary</div>
        </div>
        <p>You look great today.</p>

        <div class="form_box">
            <form name="addressForm">
                <fieldset class="field-container">
                    <input type="text" class="field" id="search_input"/>
                    <div class="icons-container">
                        <div class="icon-search"></div>
                        <div class="icon-close">
                            <div class="x-up"></div>
                            <div class="x-down"></div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <section id="address_table"></section>
    </body>

  <!-- jQuery 라이브러리 사용 -->
  <script type="text/javascript">
    $(document).ready(function () {
        $('form[name=addressForm]').on('submit', function (e) {
            e.preventDefault();
            document.getElementById("search_input").blur()

            $.ajax({
                url: "search",
                type: "GET",
                data: { address: $('#search_input', this).val() },
                dataType: "html",
                success:function(data){
                  $('#address_table').html(data)
                },
                error: function(request, status, error){
                  alert('서버와의 연결에 실패하였습니다.');
                }
            });
        });
    });
  </script>
  <!-- 클립보드-->
  <script>
    var clipboard = new ClipboardJS('.clip');
    clipboard.on('success', function() { });
  </script>
  <!-- 검색창 -->
  <script type="text/javascript">
    $(document).ready(function(){
        $('.field').on('focus', function() {
            $('body').addClass('is-focus');
        });

        $('.field').on('blur', function() {
            $('body').removeClass('is-focus is-type');
        });

        $('.field').on('keydown', function(event) {
            $('body').addClass('is-type');
            if((event.which === 8) && $(this).val() === '') {
                $('body').removeClass('is-type');
            }
        });
    });
  </script>
    <script type="text/javascript">
      $(window).on("load resize ", function() {
          var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
          $('.tbl-header').css({'padding-right':scrollWidth});
      }).resize();
    </script>
</html>